<div class="container mt-5 employee-list-container">
  <h2 style="text-decoration: underline">List Of Employees</h2>
  <button class="btn-add-employee" routerLink="employee/add/0">
    Add Employee
  </button>
  <br />
  <br />
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </thead>

    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>
          <button [routerLink]="['employee/edit', employee.id]">Edit</button>
          <a>&nbsp; &nbsp; &nbsp;</a>
          <button (click)="deleteEmployee(employee)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
